.menu-contents{
	border: 1px solid #aaa;
	background-color: #fff;
	height : 50px;
}

.error-contents{
	text-align: left;
	color: #ff0000;
	margin: 30px auto;
}

.search-contents{
	text-align: left;
	width: 100%;
	margin: 10px auto;
	padding: 10px;
}

.login-contents {
	background: #ffffff;
	width: 500px;
	padding: 10px;
	text-align: center;
	margin: 30px auto;
}

.main-contents {
  background: #ffffff;
  width: 80%;
  padding: 10px;
  text-align: center;
  margin: 30px auto;
}

.post-contents {
	background: #ffffff;
	width: 80%;
	padding: 20px;
	text-align: left;
	margin: 50px auto;
}

.post-title{
	vertical-align: bottom;
}

.middle{
	vertical-align: middle;
}

.contents-title{
	text-align: left;
	font-size: xx-large;
	margin: 30px auto;
}

.contents-body{
	text-align: left;
	background: #ffffff;
	width: 500px;
	padding: 10px;
	margin: 30px auto;
}

.copyright{
	text-align: center;
}

.right{
	text-align: right;
}